.timeTable{
  float:left;
    width:800px;
    height:520px;
    border:solid;
    border-collapse: collapse;
}
th,td{
  width: 16%;
  border:solid;
  border-collapse: collapse;
}

.room1{
  float: left;
  word-wrap: break-word;
  width:33%;
  height:50px;
  background-color: red;
  text-align: center;
}
.room2{
  float: left;
  word-wrap: break-word;
  width:33%;
  height:50px;
  background-color: green;
  text-align: center;
}
.room3{
  float: left;
  word-wrap: break-word;
  width:33%;
  height:50px;
  background-color: blue;
  text-align: center;
}

.item{
  height:50px;
  align-items: center;
}

.intro{
  float:right;
  width: 200px;
}
